<div class="user-home-item-owner-avatar">
	{{{userAvatar}}}
</div>
<div class="user-home-item-body">
	<div class="user-home-item-owner-username">
		{{{userName}}}
	</div>
	<div class="user-home-item-timestamp">
		<p class="time-ago"><strong>{{{timestamp}}}</strong></p>
	</div>
	<div class="user-home-item-description">
		{{{description}}}
	</div>
	{{#hasShowcase}}
	<div class="user-home-item-showcase">
		{{{showcase}}}
	</div>
	{{/hasShowcase}}
</div>