<div class="user-home-item-owner-avatar col-md-2 col-xs-2">
	{{{userAvatar}}}
</div>
<div class="user-home-item-body col-md-10 col-xs-10">
	<div class="user-home-item-owner-username">
		{{{userName}}}
	</div>
	<div class="user-home-item-timestamp">
		<p><strong>{{{timestamp}}}</strong></p>
	</div>
	<div class="user-home-item-description">
		{{{description}}}
	</div>
	{{#hasShowcase}}
	<div class="user-home-item-showcase">
		{{{showcase}}}
	</div>
	{{/hasShowcase}}
</div>