.complete-user-info{
    max-width: 400px;
    float: left;
    margin-right: 50px;
}
#wiki-body .unite-container h2{
    padding-top: 0;
}
.complete-user-info input{
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    width: 80%;
}
.complete-user-info #qqConfirm{
    position: static;
    width: 80%;
    padding: .3em .1em;
}
#qqConfirm:hover,#qqConfirm:focus{
    color: #fff;
}