/** Styles for Special:TopUsers etc. **/
.top-users {
	float: left;
	margin: 15px 0px 0px 0px;
	width: 100%;
	max-width: 500px;
	min-width: 300px;
}

.top-fan {
	width: 60%;
	padding-right: 10px;
	font-weight: bold;
	font-size: 90%;
	line-height: 30px;
	float: left;
}

.top-fan a {
	font-size: 13px;
	text-decoration: none;
}

.top-fan i.green {
	color: green;
}

.top-fan i.red {
	color: darkred;
}

.top-fan i {
    float: right;
    margin-top: 5px;
    width: 40px;
    font-weight: 100;
}

.top-fan img {
	vertical-align: middle;
	padding-right: 4px;
}

.top-fan-num {
	font-weight: bold;
	font-size: 18px;
	color: #DCDCDC;
	float: left;
	max-width: 45px;
	width: 10%;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 5px;
}

.top-fan-points {
	float: left;
	font-size: 13px;
	color: #797979;
	height: 30px;
	padding-top: 5px;
	width: 20%;
	max-width: 100px;
	min-width: 50px;

}

.top-fan-row {
	margin: 0px 0px 10px 0px;
	clear: both;
	width: 100%;
	max-width: 500px;
	min-width: 320px;
	padding: 5px;
}
.top-fan-row.active {
	border-left: 3px solid #eee;
	padding-left: 2px;
}

.top-fan-row:hover {
	background-color: #eee;
}

.top-fan-level {
	font-size: 16px;
	font-weight: 800;
	color: #797979;
	margin: 0px 0px 10px 0px;
}

.top-fan-nav h1 {
	font-size: 16px;
	color: #333333;
	padding: 0px 0px 3px 0px;
	border-bottom: 1px solid #DCDCDC;
	margin: 0px 0px 10px 0px !important;
}

.top-fan-level {
	font-size: 16px;
	font-weight: 800;
	color: #797979;
	margin: 0px 0px 10px 0px;
}

.top-fan-nav {
	float: right;
	margin: 10px 0px 0px 0px;
	width: 200px;
	padding: 5px;
}

.top-fan-nav a {
	font-weight: bold;
	text-decoration: none;
}

/* A "Top users by category" <h1> on Special:TopFansByStatistics and Special:TopUsersRecent */
.top-title {
	margin-top: 15px !important;
}