.admin-statistics .panel{
    border-radius: 0;
}
.admin-statistics .panel-heading{
    border-radius: 0;
}
.admin-statistics .panel i{
    font-size: 36px;
}
.admin-statistics .text-right {
    text-align: left;
}
body #profile-image{
    float:none;
    margin:0;
}
body #profile-image #crop-avatar{
    max-width:200px;
    margin:auto;
}
body #profile-image .crop-avatar{
    margin-right:0;
}
body #profile-image .upload-tool{
    margin-right: 0;
}
.label.label-info{
    margin-right: 5px;
}
.crew-avatar{
    margin-left: 5px;
    margin-right: 5px;
}
#firstHeading{
    display: none;
}
.admin-tab{
    text-align: center;
}
.admin-tab li{
    display: inline-block;
    float: none;
}
.admin-tab-content{
    padding-top: 25px;
}