.admin-statistics .panel{
    border-radius: 0;
}
.admin-statistics .panel-heading{
    border-radius: 0;
}
.admin-statistics .panel i{
    font-size: 36px;
}
.admin-statistics .text-right {
    text-align: left;
}
body #profile-image{
    float:none;
    margin:0;
}
body #profile-image #crop-avatar{
    max-width:200px;
    margin:auto;
}
body #profile-image .crop-avatar{
    margin-right:0;
}
body #profile-image .upload-tool{
    margin-right: 0;
}
.label.label-info{
    margin-right: 5px;
}
.crew-avatar{
    margin-left: 5px;
    margin-right: 5px;
}
#firstHeading{
    display: none;
}
.admin-tab{
    text-align: center;
}
.admin-tab li{
    display: inline-block!important;
    float: none!important;
}
.admin-tab-content{
    padding-top: 25px;
}
.profile-image-container{
    width: 80px;
    float: left;
}
#profile-title-container{
    max-width: 650px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
}
.avatar-view{
    float: left;
}
.admin-header-edit{
    margin-left: 90px;
}
.admin-header-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.admin-header-form{
    display: none;
}
.admin-header-form-cancel{
    margin-left: 5px;
}
#page-wrapper .btn{
    padding: 6px 12px;
    outline: none;
}
/*member*/
.admin-member-wrapper{
    max-width: 850px;
    margin: auto;
    position: relative;
}
.admin-member-search{
    max-width: 250px;
    margin-left: 20px;
    display: inline-block!important;
}
.admin-member-header-right{
    float: right;
    line-height: 34px;
}
.admin-member-header-right span{
    display: block;
    padding: .46em .6em;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.admin-member-right-wrapper{
    border: 1px dashed #999;
    padding-bottom: 5px;
    padding-left: 5px;
}
.drag-introduce{
    color: #999;
    font-size: 12px;
    float: right;
}
.label-fix{
    position: absolute;
    right: -180px;
    top: -200px;
}
.label-fix .admin-member-right-wrapper{
    position: fixed;
}
.label-fix span{
    float: none;
}
.admin-member-header-right .label{
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
hr {
    background: #d6dadc;
    border: 0;
    color: #d6dadc;
    height: 1px;
    margin: 9pt 0;
    width: 100%;
}
.admin-member-list{
    list-style-type: none;
    padding-left: 0;

}
.admin-member-list>li{
    clear: both;
    border-bottom: 1px solid #d6dadc;
    min-height: 39px;
    position: relative;
    padding: 20px 0;
}
.admin-member-list li{
    margin-bottom: 0!important;
}
.a-msg{
    float: left;
}
.a-avatar{
    float: left;
    margin-right: 10px;
}
.a-avatar img{
    width: 30px;
}
.a-user{
    float: left;
}
.a-user-level{
    margin-left: 5px;
}
.a-user-editcount{
    margin-left: 15px;
}
.a-options{
    float: right;
}
.a-tag .label {
    margin-right: 5px;
    position: relative;
    cursor: default;
}

/*btn color*/
#admin-member .admin-label-staff{
    background: #365897;
}
#admin-member .admin-label-bureaucrat{
    background: #347bff;
}
#admin-member .admin-label-sysop{
    background: #2F9DA8;
}
#admin-member .admin-label-rollback{
    background: #449987;
}
#admin-member .admin-label-bot{
    background: #C45252;
}
#admin-member .admin-label-member{
    background: #09c;
}
#admin-member .admin-label-translate-proofr{
    background: #0ff;
}
.a-options>button{
    margin-left: 5px;
    background: #365897;
    color: #fff!important;
}
.a-options>button a{
    color: #fff!important;
}

.a-tag .icon-close{
    position: absolute;
    right: -5px;
    top: -5px;
    color: red;
    display: none;
}
.a-tag .label:hover .icon-close{
    display: block;
}

.btn-group label{
    display: block;
    cursor: pointer;
}
.a-delete a{
    color: #333!important;
    text-decoration: none!important;
}
.a-delete.btn-danger a{
    color: #fff!important;
    text-decoration: none!important;
}
[draggable=true] {
    -khtml-user-drag: element;
}

/*setting*/
.admin-setting-level{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #999;
}
.admin-setting-wrap{
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 3px;
}
.admin-setting-li{
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    position: relative;
}
.setting-title{
    padding: 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    display: block;
}
.setting-des{
    margin-right: 80px;
    color: #333;
}
.setting-need-level{
    color: #999;
}
.setting-toggle{
    position: absolute;
    right: 10px;
    top: 40px;
}
#home .panel-body{
    background-color: #fff;
}
@media screen and (max-width: 768px){
    .admin-member-header-right {
        float: right;
        line-height: 34px;
        margin-bottom: 15px;
        display: none;
    }
    .a-options{
        float: none;
    }
    .a-tag{
        display: block;
        margin-bottom: 10px;
        clear: both;
    }
    #page-wrapper .a-options button{
        padding: 2px 4px;
    }
    .a-delete{
        margin-left: 5px;
    }
}
.des-help{
    padding:0px 15px;
}
.protip{
    color:gray;
    margin-top: 15px;
}
.huge{
    font-size: 27px;
}