.cleared {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline-block; }

/* Monaco is different */
.skin-monaco .clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */

#user-page-board {
	margin: 5px 0px 10px 0px;
}

.user-board-top-links {
	font-weight: bold;
	margin: 15px 0px 0px 0px;
}

.user-board-top-links a {
	text-decoration: none;
}

.user-page-message-form {
	margin: 5px 0px 15px 0px;
	font-weight: bold;
    max-width:540px;
    width: 100%;
}
.user-page-message-form p textarea{
    max-width: 530px;
    width: 100%;
}

.user-board-message {
	border: 1px solid #D4DFD7;
	margin: 0px 0px 15px 0px;
	max-width: 540px;
	width: 100%;
}

.user-board-message-from {
	background-color: #EFF3F0;
	padding: 3px 0px 5px 5px;
}

.user-board-message-from a {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.user-board-message-content {
	padding: 5px;
}

.user-board-message-time {
	font-size: 11px;
	color: #797979;
	margin: 2px 0px 0px 5px;
}

.user-board-message-image {
	float: left;
	margin: 0px 10px 0px 0px;
}

.user-board-message-image img {
	border: 1px solid #dcdcdc;
}

.user-board-message-body {
	float: left;
	margin: 0px 10px 0px 0px;
	vertical-align: top;
	width: 90%;
}

.user-board-message-body p {
	margin: 0px 0px 0px 0px !important;
}

.user-board-message-links {
	padding: 0px 0px 5px 5px;
}

.user-board-message-links a {
	font-size: 11px;
	text-decoration: none;
	margin: 0px 10px 0px 0px;
}

.user-board-red a {
	color: #ff0000;
}

select#message_type {
	vertical-align: middle;
	margin: -1px 0px 0px 5px;
}

.user-page-message-form textarea {
	width: 80%;
}

.user-page-message-count {
	color: #666666;
	font-size: 11px;
}

.user-board-message-type {
	color: #797979;
}
.user-page-message-form .form-group{
    margin-bottom: 0;
}
.user-page-message-box-button {
    height: 40px;
    padding-right: 15px;
}
.user-page-message-box-button .site-button{
    float: right;
}
.user-board-message{
    padding-left: 10px;
    border-radius: 3px;
}
.user-board-message-image>a>img{
    width: 50px;
    padding: 1px;
}
.user-board-message-image>a>img:hover{
    border: 1px solid #666;
}
.user-board-message-content{
    margin-top: 10px;
}
.user-board-message-body{
    margin-left: 5px;
}
.user-board-message-time{
    margin-top: 15px;
}
.user-board-message{
    border: none;
    border-top: 1px solid #e2e2e2;
    padding-top: 15px;
}