
        <h5>代码编辑</h5>
        <p class="secondary"> 小心前行！这一部分配置需要您具备一定的计算机编程基础</p>

            <div><p>您还可以通过CSS和javascript编写来实现更高度的个性化。

                在编写代码之前，请留意一些准则：<a href=http://www.huiji.wiki/wiki/help:自定义守则>自定义守则</a>。如果违反，编辑代码权限将可能会被撤销。</div>

            </p>
            <div><ol>
                <li>由于缓存的存在，您的修改可能不会立即生效（约1小时后刷新）。</li>
                <li>请使用<b><i class="fa fa-plug"></i>调试</b>功能查看代码生效后的效果。</li>
                <li>您需要对代码的安全性最终负责，引用来源不明的代码将可能导致严重后果。</li>
                <li>严禁做出屏蔽广告等危害灰机wiki权益的行为。</li>
                <li>如果您在编写中遇到问题，可以向我们<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C">提问。</a></li></ol>
            </div>
            <div>
                <button class="btn btn-default btn-sm"><a href="/wiki/Mediawiki:Common.css">修改css</a></button>
                <button class="btn btn-default btn-sm"><a href="/wiki/Mediawiki:Common.js">修改js</a></button>
            </div>
