    <h5>语义配色</h5>
    <p class="secondary">赤红是夏日的骄阳，雪白是冬天的寒梅。有时候颜色足以表意。在这里，您可以修改颜色的语义，但是请小心，不要用混乱的搭配迷惑你的读者~</p>
    <div class="color-picker-item">
       <ul class="picker-color">
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-default" value="{{default}}" style="color:{{default}}"></div>
                <input type="text" class="input-color" value="{{default}}">
            <div class="color-name">无语义（default）</div>
            </li>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-primary" value="{{primary}}" style="color: {{primary}}"></div>
                <input type="text" class="input-color" value="{{primary}}">
            <div class="color-name">主要（primary）</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-success" value="{{success}}" style="color:{{success}}"></div>
                <input type="text" class="input-color" value="{{success}}">
            <div class="color-name">成功（success）</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-info" value="{{info}}" style="color:{{info}}"></div>
                <input type="text" class="input-color" value="{{info}}">
            <div class="color-name">信息（info）</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-warning" value="{{warning}}" style="color: {{warning}}"></div>
                <input type="text" class="input-color" value="{{warning}}">
            <div class="color-name">警示（warning）</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@brand-danger" value="{{danger}}" style="color: {{danger}}"></div>
                <input type="text" class="input-color" value="{{danger}}">
            <div class="color-name">危险（danger）</div>
            </li>
        </ul>
    </div>