    <h5>快捷配色</h5>
    <p class="secondary">您的时间如此宝贵，定制以下配色，其他颜色将自动为您计算。</p>

    <div class="color-picker-item">
        <ul class="picker-color custom">
            <li class="separated">
            <div class="color-box jcolor" data-variable="@main-base" value="{{mainBase}}" style="color:{{mainBase}}"></div>
            <input type="text" class="input-color" value="{{mainBase}}">
            <div class="color-name">主配色</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@bg" value="{{bg}}" style="color:{{bg}}"></div>
                <input type="text" class="input-color" value="{{bg}}">
            <div class="color-name">辅配色-外部背景</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@bg-inner" value="{{bgInner}}" style="color:{{bgInner}}"></div>
                <input type="text" class="input-color" value="{{bgInner}}">
            <div class="color-name">辅配色-内部背景</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@a" value="{{a}}" style="color:{{a}}"></div>
                <input type="text" class="input-color" value="{{a}}">
            <div class="color-name">链接颜色</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@sub-bg" value="{{subBg}}" style="color:{{subBg}}"></div>
                <input type="text" class="input-color" value="{{subBg}}">
            <div class="color-name">导航主色</div>
            </li>
            <li class="separated">
           <div class="color-box jcolor" data-variable="@sub-a" value="{{subA}}" style="color:{{subA}}"></div>
                <input type="text" class="input-color" value="{{subA}}">
            <div class="color-name">导航辅色</div>
            </li>
            <li class="separated">
            <div class="color-box jcolor" data-variable="@modal" value="{{modal}}" style="color:{{modal}}"></div>
                <input type="text" class="input-color" value="{{modal}}">
            <div class="color-name">模板色调</div>
            </li>
            <li class="separated">
                <div class="color-box jcolor" data-variable="@well" value="{{well}}" style="color: {{well}}"></div>
                <input type="text" class="input-color" value="{{well}}">
                <div class="color-name">引言、吐槽、提示区域</div>
            </li> 
        </ul>
    </div>