.cleared {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline-block; }

/* Monaco is different */
.skin-monaco .clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */

#main {
	padding: 0px 0px 0px 0px !important;
}

/*#user-page-left {
	width: 35%;
	float: left;
}*/

/*#user-page-right {
	float: right;
	width: 60%;
}*/

#user-page-left h2, #user-page-right h2 {
	border-bottom: 1px solid #dcdcdc;
	padding: 0px 0px 3px 0px;
	margin: 0px 0px 5px 0px;
	font-size: 17px;
	letter-spacing: -1px;
}

.no-info-container {
	margin: 10px 0px 20px 0px;
	background-color: #F2F4F7;
	padding: 20px;
	text-align: center;
	color: #777;
}

.item-small {
	color: #999;
	font-size: 9px;
	margin: 0px 0px 0px 6px;
}

.user-section-heading {
	border-bottom: 1px solid #DCDCDC;
	width: 100%;
	line-height: 22px;
	margin: 0px 0px 8px 0px;
}

.user-section-title {
	float: left;
	font-size: 20px;
	letter-spacing: -1px;
	padding: 0px 10px 0px 0px;
}

.user-section-actions {
	position: relative;
	right: 0px;
	top: -2px;
}

.action-right {
	float: right;
	font-size: 10px;
	padding: 0px 5px 0px 0px;
}

.action-left {
	float: left;
	font-size: 10px;
}

.user-section-actions a {
	text-decoration: none;
}

/* Profile Top */
/*#profile-top {
	background-color: #fff;
	border-bottom: 1px solid #D4DFD7;
	padding: 10px 0px;
	margin: 0px 0px 20px 0px;
	position: relative;
}
*/
.pagetitle h1 {
	display:none;
}

/*#profile-title {
	float: left;
	font-size: 2em;
	line-height: 26px;
	font-weight: bold;
	margin: 0px 15px 0px 0px;
}*/
#points-level{
	display: inline-block;
	margin: 0;
	width: 320px;
}
#honorific-level {
	display: inline-block;
	font-size: 20px;
    padding:0;
    vertical-align: top;
    width: 15%;
}
#honorific-level .primary{
    border-radius: 7px;
}
/*#points-level {
	float: left;
	font-size: 11px;
	background-color: #CC0000;
	padding: 1px 5px;
	margin: 4px 8px 0px 0px;
	text-align: center;
}
*/
/*#honorific-level {
	float: left;
	margin: 4px 0px 0px 0px;
	font-size: 12px;
}*/

#honorific-level a {
	text-decoration: none;
}

#points-level a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#profile-image {
	position: relative;
	float: left;
	margin: 0px 20px 0px 0px;
}

#profile-image img {
	border: 1px solid #dcdcdc;
    	background-color: #fff;
    	padding: 3px;
    	cursor: pointer;
}
#profile-image .upload-tool{
    	margin-right: 10px;
}

#profile-right {
	float: left;
	position: relative;
}

.profile-actions a {
	text-decoration: none;
	font-weight: bold;
	margin: 0px 6px;
}

/* User-Relationship */
.user-relationship-container {
	padding: 0px 0px 25px 0px;
}

.user-relationship-container a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 5px 10px 0px 0px;
}

.user-relationship-container img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

/* User Gift / User Awards */
.user-gift-container {
	padding: 0px 0px 25px 0px;
}

.user-gift-container a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 5px 10px 0px 0px;
}

.user-gift-container img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

/* Fanboxes */
.user-fanbox-container {
	padding: 0px 0px 25px 0px;
}

/* User Activity */
.activity-item {
    border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 7px 10px;
}

.activity-item-bottom {
	padding: 7px 10px ;
}

.activity-item img, .activity-item-bottom img {
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.activity-item a, .activity-item-bottom a {
	text-decoration: none;
}

.item {
	color: #666;
	margin: 5px 25px;
    word-wrap:break-word;
}

.item a {
	font-weight: bold;
}

#recent-all {
	padding: 0px 0px 25px 0px;
}

/* Message Board */
#user-page-board {
	margin: 5px 0px 10px 0px;
}

.user-page-message-form {
	margin: 5px 0px 15px 0px;
	font-weight: bold;
}

.user-board-message {
	border-top-width: 1px;
    border-top-style: solid;
	margin: 0px 0px 15px 0px;
}

.user-board-message-from {
	background-color: #F8F5F5;
	padding: 3px 0px 5px 5px;
}

.user-board-message-from a {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.user-board-message-content {
	padding: 5px;
}

.user-board-message-time {
	font-size: 11px;
	color: #797979;
	margin: 2px 0px 0px 5px;
}

.user-board-message-image {
	float: left;
	padding: 0px 10px 5px 0px;
}

.user-board-message-image img {
	border: 1px solid #dcdcdc;
}

.user-board-message-body {
	margin: 0px 10px 0px 0px;
}

.user-board-message-body p {
	margin: 0px 0px 0px 0px !important;
}

.user-board-message-links {
	padding: 0px 0px 5px 5px;
}

.user-board-message-links a {
	font-size: 11px;
	text-decoration: none;
	margin: 0px 10px 0px 0px;
}

.user-board-red a {
	color: #ff0000;
}

/* Profile Data */
.profile-info-container {
	padding: 0px 0px 17px 0px;
}

.profile-info-container b {
	color: #555;
	margin: 0px 10px 0px 0px;
}

.profile-info-container div {
	margin: 0px 0px 8px 0px;
	color: #666;
}

.bold-fix b {
	margin: 0px 5px 0px 0px !important;
}

/* Casual Games */
.casual-game-container {
	padding: 0px 0px 18px 0px;
}

.casual-game-container p {
	margin: 0px 0px 0px 0px !important;
	padding: 7px 0px !important;
	border-top: 1px solid #dcdcdc;
}

.casual-game-container .item-top {
	border: none;
}

.casual-game-container a {
	text-decoration: none;
	font-weight: bold;
}

.casual-game-container .item-type {
	font-size: 9px;
	margin: 0px 0px 0px 6px;
}

.casual-game-container img {
	border: 1px solid #dcdcdc;
	padding: 3px;
	background-color: #fff;
	vertical-align: middle;
	margin: 0px 3px 0px 0px;
}

/* User Articles */
.user-articles-container {
	padding: 0px 0px 23px 0px;
}

.article-item {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 2px 0px;
	border-top: 1px solid #dcdcdc;
}

.user-articles-container a {
	text-decoration: none;
	font-weight: bold;
}

.article-item-top {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 2px 0px;
	border: none;
}

.number-of-votes {
	margin: 0px 10px 3px 0px;
	text-align: center;
	float: left;
	width: 25px;
}

.vote-number {
	background-color: #89C46F;
	color: #FFFFFF;
	font-size: 12px !important;
	margin: 0px 0px 2px 0px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}

.vote-text {
	margin: -1px 0px 0px 0px;
	font-size: 9px;
	color: #777;
	line-height: 9px;
}

/*.article-title {

}*/

/* Pictures */
.picture-container-spacer {
	height: 25px;
	width: 100%;
}

.picture-container .mini-image {
	float: left;
	margin: 5px 10px 0px 0px;
}

.picture-container img {
	background-color: #fff;
	padding: 3px;
	border: 1px solid #dcdcdc;
}

.picture-container a {
	text-decoration: none;
}

.upload-container {
	clear: left;
	height: 90px;
	margin-left: -5px;
}

.upload-frame-errors {
	margin: 10px 0px 5px 0px;
	color: red;
	font-size: 14px;
	font-weight: bold;
}

.no-pictures-container {
	color: #777777;
	margin: 10px 0px 0px;
	padding: 20px;
	text-align: center;
	background-color: #EFF3F0;
}

.upload-frame-errors {
	display: none;
}

.imageUpload-frame {
	height: 90px;
	width: 425px;
}

/* Sports Networks */
.network-container {
	padding: 0px 0px 22px 0px;
}

.network {
	margin: 0px 0px 3px 0px;
}

.network img {
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
}

.network a {
	text-decoration: none;
}

.status-message-add a {
	color: #999;
	font-size: 10px;
}

.status-update-box {
	margin: 10px 0px 10px 0px;
}

#status-text input {
	font-size: 10px;
	width: 200px;
}

/* Status */
.status-container {
	padding: 0px 0px 20px 0px;
}

.status-message img {
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.user-status-date {
	margin: 0px 6px 0px 0px;
	color: #999;
	font-size: 9px;
}

.user-status-profile-vote {
	color: #666;
}

.user-status-profile-vote a {
	text-decoration: none;
	font-size: 9px;
}

/* Update Profile */
.profile-info {
	background-color: transparent;
	padding: 25px 0px;
}

.profile-update {
	padding: 0px;
}

.profile-tab-bar {
	margin-top: 20px;
}

.profile-tab {
	float: left;
	background-color: #68BD46;
	height: 22px;
	min-width: 72px;
	padding: 6px 5px 0px 5px;
	margin: 0px 5px 0px 0px;
	text-align: center;
}

.profile-tab-on {
	background-color: #466C2C;
	float: left;
	height: 22px;
	color: #ffffff;
	font-size: 12px;
	min-width: 72px;
	font-weight: bold;
	padding: 6px 5px 0px 5px;
	margin: 0px 5px 0px 0px;
	text-align: center;
}

.profile-tab-on a, .profile-tab a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

.profile-tab a:hover {
	color: #466C2C;
}

.profile-tab a:visited {
	color: #FFFFFF !important;
}

.profile-tab-on a:visited {
	color: #FFFFFF !important;
}

.profile-update-button {
	background-color: #78BA5D;
	border: 1px solid #6B6B6B;
	color: #ffffff;
	font-size: 13px;
	padding: 3px;
}

.profile-update-title {
	font-size: 16px;
	color: #333;
	margin: 0px 0px 5px 0px !important;
	font-weight: bold;
}

.profile-update-title img {
	vertical-align: middle;
	margin: -3px 0px 0px 5px;
}

.profile-update-unit-left {
	color: #797979;
	font-weight: bold;
	font-size: 12px;
	float: left;
	width: 150px;
}

.profile-update-unit {
	float: left;
	width: 450px;
}

.profile-update-unit-small {
	float: left;
	width: 450px;
	font-size: 10px;
	color: #797979;
}

.profile-update-row {
	color: #797979;
	font-weight: bold;
	font-size: 12px;
}

.profile-update-links {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.profile-update-links a {
	text-decoration: none;
}

.profile-status {
	background-color: #FFFB9B;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

.profile-on {
	background-color: #FFFB9B;
	border: 1px solid #FDC745;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

#profile-toggle-button {
	position: absolute;
	top: 5px;
	right: 0px;
	background-color: orange;
	padding: 2px 10px;
}

#profile-toggle-button a {
	color: #fff;
	font-weight: bold;
}

/* The text "Message type" on the left side of the message type selector on profile page */
.profile-board-message-type {
	color: #797979;
}

#content #profile-title{
    font-size: 24px;
    display: inline-block;
}
.jumbotron #profile-image img{
    top: 0!important;
    width: 100px;
    height: 100px;
}
#content h1#profile-title{
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
@media screen and (min-width: 769px) {
    .profile-page .jumbotron {
        padding:30px 50px!important;
    }
}
.user-follow-msg{
    list-style-type: none;
    text-align: center;
    height: 60px;
    margin: 0!important;
}
.user-follow-msg li{
    float: left;
    margin-right: 10px;
}
.user-follow-msg h4{
    font-size: 24px;
    color: #999;
}
.user-follow-msg>li h5{
    margin-bottom: 0;
    font-size: 12px;
}
.user-follow-msg a{
    font-size: 24px;
}
#profile-top.row{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0;
    background: inherit;
}
.profile-actions{
    color: #999;
    margin-top: 10px;
}
.user-autograph{
    margin-top: 10px;
}
.form-container{
    padding-top: 10px;
    color:#999;
    position: relative;
}
.form-location.edit,.form-autograph.edit,.form-sex.edit,.form-date.edit{
    cursor: pointer;
}
.form-container span{
    margin: 10px;
    cursor: default;
}
span.span-color{
    color: #e0e0e0;
}
.form-container .form-change{
    font-size: 12px;
    color:#999;
    display: none!important;
    cursor: pointer;
}
.form-container.owner:hover .form-change{
    display: inline-block!important;
}
.input-location.form-control{
    width: 30%;
    display: inline-block;
}
.sex-man,.sex-woman{
    display:inline-block;
}
.form-submit{
    float: right;
}
.btn.form-submit{
    background-color: #09c;
    margin-top: 5px;
}
.form-edit{
    color: #000;
 }
.form-edit span{
    margin: 0 20px;
    font-size: 18px;
    color:#e0e0e0;
}
.input-date.form-control{
    width: 30%;
    display: inline-block;
}
.form-textarea.form-control{
    width: 90%;
}
.form-submit{
    margin-right: 10%;
}
@media screen and (min-width: 1366px){
    .profile-page{
        margin: 0 auto;
    }
}
.profile-top-right{
    float: left;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 50px!important;
}
.mw-content-ltr .profile-top-right-top ul{
    list-style-type: none;
    padding-left:0;
    margin: 0;
}
.mw-content-ltr .profile-top-right-bottom ul{
    margin: 0;
    margin-top: 10px;
}
.profile-top-right-top h4 img{
    margin-right:5px
}
.profile-top-right p{
    display: inline;
    font-size: 12px!important;
}
#site-following-count{
    font-size: 14px;
}
.profile-top-right-bottom>a{
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    font-size: 14px;
}
/*.profile-top-right-top{*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/
/*}*/
.profile-top-right-top li{
    display: inline-block;
    padding:0 5px;
    background: #09c;
    color: #fff;
}
.profile-top-right-bottom{
    position: relative;
}
.profile-top-right-bottom>ul{
    margin-top: 10px;
    font-size: 12px;
    padding-left:0;
    list-style-type: none;
}
.profile-top-right-bottom>ul>li{
    /*padding:5px 0 5px 15px;*/
    cursor: pointer;
    /*border-left-width: 1px;*/
    /*border-left-style: solid;*/
    margin-bottom: 0!important;
}
/*.profile-top-right-bottom>ul>li:hover{*/
    /*border-left: 1px solid #2A62CC;*/
/*}*/

.profile-top-right-bottom>div{
    padding-top: 30px;
}
.profile-interactive{
    display: inline;
   float: right;
}
.profile-interactive>li{
    display: inline-block;
    padding: 8px 10px;
    background: #f9f9f9;
    cursor: pointer;
    border: 1px solid #999;
}
.profile-interactive .mw-ui-button{
    min-width: 0;
}
.profile-interactive a{
    color: inherit;
}
.profile-interactive a:hover{
    color: inherit;
}
.profile-interactive>li>span{
    display: inline;
}
.profile-interactive>ul{
    left: auto;
    right: 0;
    margin-top: 10px;
    font-size: 12px;
}
.upload-img-wrap{
    font-size: 14px;
    background: #000;
    opacity: 8;
    position: absolute;
    bottom: 0;
    width: 100px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/*.profile-page .panel-primary{*/
    /*background-color: inherit;*/
/*}*/
@media screen and (max-width: 992px) {
    .profile-top-right{
        border-left: none;
        border-top:1px solid #e0e0e0;
        margin-top:25px;
        padding-top:25px;
    }
    #profile-right{
        margin-bottom: 15px;
        margin-left: 40px;
        /*margin-left:100px;*/
    }
}
/*@media screen and (max-width: 767px) {*/
    /*#profile-right,.profile-top-right{*/
        /*float: none;*/
        /*margin-left: auto;*/
    /*}*/
    /*#profile-right{*/
        /*margin-left: 30px;*/
    /*}*/
/*}*/
@media screen and (max-width:1200px){
    .form-edit span {
        margin: 0 5px;
    }
}
@media screen and (max-width:566px){
    #content h1#profile-title{
        font-size: 1.5em;
    }
   
    .profile-top-right {
        padding-left: 15px!important;
    }
    #profile-right {
        margin-left:auto;
    }
    .form-edit span {
        display: none;
    }
    .input-location.form-control{
        margin-right: 10px;
    }
    .input-date.form-control{
        margin-right: 10px;
    }
    #points-level{
        width: 240px;
    }
}
@media screen and (min-width:320px) and (max-width:461px){
    .user-follow-msg span{
        font-size: 12px;
    }
    .user-follow-msg li{
        margin-right:4px;
    }
    #profile-image,#profile-image .upload-tool{
        margin-right: 0;
    }
    span.span-color{
        margin-right: 15px;
    }
    .profile-top-right-bottom>a {
        top: 30px;
    }
    .profile-interactive {
        padding-left: 0;
    }
    .profile-top-right {
        padding-left: 15px!important;
    }
    #profile-right {
        padding-left: 15px;
    }
    .profile-top-right-bottom>a {
        position: static;
    }
    .input-location.form-control{
        width: 100%;
    }
    .input-date.form-control{
        width:100%;
    }
    .form-textarea.form-control{
        width: 100%;
    }
    .form-submit{
        margin-right: auto;
    }
}
.profile-interactive a:hover{
    text-decoration: none;
}
#user-user-follow{
    width: 64px;
    text-align: center;
    padding: 0;
    display: inline-block;
    height: 34px;
    margin-bottom: 0!important;
 }
#wiki-body ul.profile-interactive li{
  line-height: normal!important;
}
.profile-interactive #user-user-follow{
    width: auto;
    padding: 8px 10px;
    height: auto;
    margin-bottom: 10px!important;
}
.user-page-message-form .form-group{
    margin-bottom: 0;
}
.user-page-message-box-button {
    height: 40px;
    padding-right: 15px;
}
.user-page-message-box-button .site-button{
    float: right;
}
.user-board-message{
    padding-left: 10px;
    border-radius: 3px;
}
.user-board-message-image>a>img{
    width: 50px;
    padding: 1px;
}
.user-board-message-image>a>img:hover{
    border: 1px solid #666;
}
.user-board-message-content{
    height: 60px;
    margin-top: 10px;
}
.user-board-message-body{
    margin-left: 5px;
}
.user-board-message-time{
    margin-top: 15px;
}
.user-board-message{
    /*border: none;*/
    /*border-top: 1px solid #e2e2e2;*/
    padding-top: 15px;
}
.fa{
    padding-right: 5px;
}
.upload-img-wrap{
    cursor: pointer;
}
.upload-img-wrap>a{
    text-decoration: none;
    color: #fff;
}
.upload-img-wrap>a:hover{
    color: #fff;
    text-decoration: none;
}
.modal-url{
    max-height: 200px;
    overflow-y: auto;
}
.modal-url li{
    list-style-type: none;
}

@media (min-width: 768px) {
    .modal-dialog.modal-sm {
        margin-top: 100px;
    }
}
.common-interest-container a {
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
}
.common-interest-container .label {
    padding: 0.5em;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
}
.common-interest-container a:focus, .common-interest-container a:hover{
	color: #FFF;
	text-decoration: none;	
}
.profile-top-right-bottom .open > .dropdown-menu {
    display: block;
	padding-top: 10px;
}
@media screen and (max-width:375px){
    .profile-page{
        margin-left:-15px;
        margin-right: -15px;
    }
}
.c-avatar {
    top:inherit;
}

.check-body{
    text-align: center;
}
.check-wrapper{
    display: inline-block;
}
.check-wrapper svg{
    float: left;
}
svg .day{
    cursor: pointer;
}
body>.tooltip.top .tooltip-arrow{
    margin-left: 0;
}
#wiki-body .legend-intro{
    float: right;
    clear: both;
    margin-bottom: 10px;
}
#wiki-body .legend-intro ul{
    margin: 0;
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
#wiki-body .legend-intro li{
    float: left;
    margin-bottom: 0;
    margin-right: 5px;
    height: 11px;
    width: 11px;
}
.edit-statistics{
    clear: both;
    width: 90%;
    margin: 0 auto;
}
.edit-statistics:after {
    content: '';
    display: block;
    clear: both;
}
.edit-statistics p{
    width: 33.3%;
    margin: 0;
    font-size: 18px;
    float: left;
    border: none;
}
.edit-statistics span {
    display: block;
}
/*hack crop avatar img*/
#profile-image #avatar-modal img {
    padding: 0;
    width: inherit;
    height: inherit;
}
.gift-count-num{
	position: absolute;
	right: 14px;
	bottom: 0;
	color: white;
	text-shadow: 0px 0px 2px #000;
	text-align: right;
	font-size: 18px;
	font-family: fantasy;
}
.gift-wrap{
	display: inline-block;
	position: relative;
}
