.mw-search-results{
    padding-left: 0;
    max-width: 1080px !important;
}
.results-info{
    max-width: 510px;
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}
#wiki-body form .form-control{
    width: 84%;
}
.mw-search-results em {
    font-weight: bold;
    font-style: inherit;
}
.mw-search-results li{
    list-style-type: none;
    border-bottom: 1px solid #999;
    position: relative;
    padding-bottom: 40px;
    padding-top: 10px;
}
.mw-search-result-heading>a:last-child {
    position: absolute;
    right: 0;
    bottom: 5px;
}
.mw-search-result-data {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #999;
    font-size: 12px;
}
.page-nav-wrapper {
    text-align: center;
    max-width: 510px;
}
@media screen and (max-width: 767px) {
    #wiki-body form .form-control{
        width: 100%;
    }
    .skin-BootstrapMediawiki .huiji-css-hook #mw-search-top-table > input.mw-ui-button.mw-ui-progressive {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
