.mw-search-results{
    padding-left: 0;
}
.results-info{
    max-width: 540px;
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}
#wiki-body form{
    max-width: 540px;
}
#wiki-body form .form-control{
    width: 450px;
}
.mw-search-results em {
    background: #09c;
    color: #fff;
    font-style: inherit;
}
.mw-search-results li{
    list-style-type: none;
    border-bottom: 1px solid #999;
    max-width: 540px;
    position: relative;
    padding-bottom: 40px;
    padding-top: 10px;
}
.mw-search-result-heading>a:last-child {
    position: absolute;
    right: 0;
    bottom: 5px;
}
.mw-search-result-data {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #999;
    font-size: 12px;
}
.page-nav-wrapper {
    text-align: center;
    max-width: 540px;
}
@media screen and (max-width: 600px) {
    #wiki-body form .form-control{
        width: 100%;
    }
}