.mw-special-Search #powerSearchText {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
    max-width: 500px;
    padding: 7px;
    border: 1px solid #ccc;
    box-shadow: none;
}
#wiki-body #mw-searchoptions{
    border:none!important;
    max-width: 720px;
    margin: 0 auto;
    padding: 20px!important;
}
#wiki-body #mw-searchoptions div.divider{
    border-bottom: none;
}
.mw-search-results{
    padding-left: 0;
    max-width: 1080px !important;
}
.results-info{
    max-width: 510px;
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}
#wiki-body form .form-control{
    width: 84%;
}
.mw-search-results em {
    font-weight: bold;
    font-style: inherit;
}
.mw-search-results li{
    list-style-type: none;
    border-bottom: 1px solid #999;
    position: relative;
    padding-bottom: 40px;
    padding-top: 10px;
}
.mw-search-result-heading>a:last-child {
    position: absolute;
    right: 0;
    bottom: 5px;
}
.mw-search-result-data {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #999;
    font-size: 12px;
}
#mw-search-interwiki{
    width: auto;
}
.page-nav-wrapper {
    text-align: center;
    max-width: 510px;
}
.related-search{
    clear:both;
}
.related-search td{
    padding: 0px 50px 5px 0px;
}
@media screen and (max-width: 767px) {
    #wiki-body form .form-control{
        width: 100%;
    }
    .skin-BootstrapMediawiki .huiji-css-hook #mw-search-top-table > input.mw-ui-button.mw-ui-progressive {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

