<div class="related-search"><h4>相关搜索</h4>
<table>
<tbody>
<tr>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r1}}">{{r1}}</a> </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r2}}">{{r2}}</a> </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r3}}">{{r3}}</a> 
</td></tr>
<tr>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r4}}">{{r4}}</a> </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r5}}">{{r5}}</a>  </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r6}}">{{r6}}</a> 
</td></tr>
<tr>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r7}}">{{r7}}</a>  </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r8}}">{{r8}}</a>  </td>
<td> <a href="/index.php?title=特殊:全局搜索&key={{r9}}">{{r9}}</a> 
</td></tr></tbody></table>
</div>