.progress{
    width: 250px;
}
/*.have-reached{
	float: left
}*/
.site-avatar img{
	width: 100%;
}
.site-name{
	font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.site-desc{
	font-size: 14px;
	text-align: center;
}
.month-total{
    padding-bottom: 0;
}
.month-total, .have-reached{
	margin-top: 10px;
}
.month-total .icon-info{
    font-size: 12px;
    position: relative;
    bottom: 12px;
}
#firstHeading{
	display: none;
}
.title{
	padding-top: 100px;
	margin-bottom: 200px;
	text-align: center;
}
.site-avatar {
    display: inline-block;
}
.site-avatar img{
	width: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.site-info{
    padding-top: 10px;
}
.have-reached, .last-month{
	font-size: 18px;
}
#points-level{
	margin-bottom: 0;
    display: inline-block;
    width: 320px;
}

.have-reached{
	margin-bottom: 20px;
    margin-bottom: 10px;
}
.einput {
    font-size: 18px;
}
.num{
	width: 80px;
}
.title .alisubmit {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 18px;
    margin: 10px;
}
.donate-qa{
	margin-left:40px; 
}
.donate-bottom-wrapper{
    max-width: 400px;
    margin: auto;
    text-align: left;
}
.rank{
    font-size: 18px;
}
.donate-rank{
    display: inline-block;
}
@media screen and (max-width: 768px){
	.title{
		padding-top: 10px
	}
	.site-avatar img{
		float: none;
	}
	.site-info{
		float: none;
	}
/*	.site-info{
	max-width: 150px;
    font-size: 12px;
    padding-top: 40px;
	}
	.donate-qa{
		text-align: left;
	}*/

}
.donate-rank{
    margin-bottom: 10px;
    margin-top: 10px;	
}
.donate-name{
	padding-right: 10px;
}
.text-center{
    text-align: center;
}
