
<div class="admin-member-wrapper">
    <div class="admin-member-header">
        <input type="text" class="form-control admin-member-search" placeholder="搜索用户…" >
        <div class="admin-member-header-right">
            <div class="admin-member-right-wrapper clear">
                {{#changeRes}}
                <span class="{{groupClass}}" rights="{{group}}" draggable="true">{{groupName}}</span>
                {{/changeRes}}
            </div>
            <p class="drag-introduce">拖拽至用户列表进行权限分配</p>
        </div>
    </div>
    <hr>
    <div></div>
    <ul class="admin-member-list">
    </ul>
    <button class="btn addmore btn-primary">更多</button>
    <a class="btn pull-right btn-default bdsharebuttonbox" href="#" data-tag="share_1" title="复制固定链接"><span class="icon-share-alt" data-share-link="{{&inviteLink}}">复制邀请链接</span></a>

</div>