<div class="row admin-statistics">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-trophy"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日评分{{siteScore}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-note"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日编辑{{yesterdayEdit}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-eye"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日浏览{{yesterdayView}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-user-follow"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日关注{{yesterdayCount}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 站点数据分析
                <div class="pull-right">
                    <!--<div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body ">
                <div id="morris-area-echart" style="height:400px">Loading...</div>
                <div id="morris-area-echart4" style="height:400px">Loading...</div>
                <div id="morris-area-echart3" style="height:400px">Loading...</div>
                <div id="morris-area-echart2" style="height:400px">Loading...</div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <!--<div class="col-lg-4">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<i class="icon-cloud-upload"></i> 修改站点图标-->
    <!--</div>-->

    <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-ghost"></span></i> 机务组
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <span class="label label-info">行政员</span>{{{bureaucrat}}}
            </div>
            <!-- /.panel-body -->
            <div class="list-group">
                <li class="list-group-item">
                    <span class="label label-info">管理员</span>{{{sysop}}}
                </li>
            </div>
            <!-- /.list-group -->
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i> 最近关注
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {{#newFollow}}
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-user"></i>
                            <a href="{{user_url}}">{{user_name}}</a>
                            <span class="pull-right text-muted small"><em>{{follow_date}}</em></span>
                        </div>
                    {{/newFollow}}
                    {{^newFollow}}
                        <span>暂时没人关注本站~</span>
                    {{/newFollow}}
                </div>
                <!-- /.list-group -->
                <a style="display:{{display}};" href="{{showMore}}" class="btn btn-default btn-block">查看更多</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-eye-open"></i> 最近30天最受欢迎页面
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {{#mostViewed}}
                            <div class="list-group-item">
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="{{page_url}}">{{page_name}}</a>
                                <span class="pull-right text-muted small"><em>{{page_view}}次访问</em></span>
                            </div>
                        {{/mostViewed}}
                        {{^mostViewed}}
                            <span>暂时没有相关数据~</span>
                        {{/mostViewed}}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-pencil"></i> 最近30天最多编辑的页面
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {{#mostEdited}}
                            <div class="list-group-item">
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="{{page_url}}">{{page_name}}</a>
                                <span class="pull-right text-muted small"><em>{{page_changes}}次修改</em></span>
                            </div>
                        {{/mostEdited}}
                        {{^mostEdited}}
                            <span>暂时没有相关数据~</span>
                        {{/mostEdited}}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->