<div id="page-wrapper">
    <!-- /.row -->
    <div class="row admin-statistics">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-trophy"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">昨日评分{{siteScore}}</div>
                            <div>维基排名{{siteRank}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-note"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">昨日编辑{{yesterdayEdit}}</div>
                            <div>全部编辑{{totalEdit}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-eye"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">昨日浏览{{yesterdayView}}</div>
                            <div>历史浏览{{totalView}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon-user-follow"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">昨日关注{{yesterdayCount}}</div>
                            <div>全部关注{{totalCount}}</div>
                        </div>
                    </div>
                </div>
                <!--<a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>-->
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 站点数据分析
                    <div class="pull-right">
                        <!--<div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-echart" style="height:400px">Loading...</div>
                    <div id="morris-area-echart2" style="height:400px">Loading...</div>
                    <div id="morris-area-echart3" style="height:400px">Loading...</div>
                    <div id="morris-area-echart4" style="height:400px">Loading...</div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 最近关注
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                    {{#newFollow}}
                        <a href="{{user_url}}" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> {{user_name}}
                            <span class="pull-right text-muted small"><em>{{follow_date}}</em>
                            </span>
                        </a>
                    {{/newFollow}}
                    {{^newFollow}}
                        <span>暂时没人关注本站~</span>
                    {{/newFollow}}
                    </div>
                    <!-- /.list-group -->
                    <a style="display:{{display}};" href="{{showMore}}" class="btn btn-default btn-block">查看更多</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 常用页面
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- /.list-group -->
                    <a href="{{sendToAll}}" class="btn btn-default btn-block">群发消息</a>
                    <a href="{{rightsManage}}" class="btn btn-default btn-block">用户权限管理</a>
                    <a href="{{blockUsers}}" class="btn btn-default btn-block">封禁用户</a>
                    <a href="{{freezeUsers}}" class="btn btn-default btn-block">解封用户</a>
                    <a href="{{replaceText}}" class="btn btn-default btn-block">替换文字</a>
                    <a href="{{siteRankPage}}" class="btn btn-default btn-block">站点排行</a>
                    <a href="{{allSpecial}}" class="btn btn-default btn-block">全部特殊页面</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
