<div id="page-wrapper">
    {{> admin_header}}
    <div class="admin-tab-page">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs admin-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">board</a></li>
            <li role="presentation"><a href="#admin-member" aria-controls="profile" role="tab" data-toggle="tab">member</a></li>
            <li role="presentation"><a href="#admin-setting" aria-controls="messages" role="tab" data-toggle="tab">setting</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content admin-tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">{{> admin_board}}</div>
            <div role="tabpanel" class="tab-pane" id="admin-member">{{> admin_member}}</div>
            <div role="tabpanel" class="tab-pane" id="admin-setting">{{> admin_setting}}</div>
        </div>
    </div>
</div>
