<div class="row admin-statistics">
    <div class="protip gray col-lg-12 alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p><strong><i class="fa fa-info"></i>&nbsp;&nbsp;老司机的建议：</strong>{{protip}}</p>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-trophy"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日评分{{siteScore}}</div>
                        <div>维基排名{{siteRank}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-note"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日编辑{{yesterdayEdit}}</div>
                        <div>全部编辑{{totalEdit}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-eye"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日浏览{{yesterdayView}}</div>
                        <div>历史浏览{{totalView}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="icon-user-follow"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">昨日关注{{yesterdayCount}}</div>
                        <div>全部关注{{totalCount}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 站点数据分析
                <div class="pull-right">
                    <!--<div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body ">
                <div id="morris-area-echart" style="height:400px">Loading...</div>
                <div id="morris-area-echart4" style="height:400px">Loading...</div>
                <div id="morris-area-echart3" style="height:400px">Loading...</div>
                <div id="morris-area-echart2" style="height:400px">Loading...</div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <!--<div class="col-lg-4">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<i class="icon-cloud-upload"></i> 修改站点图标-->
    <!--</div>-->

    <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-ghost"></span></i> 机务组
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <span class="label label-info">行政员</span>{{{bureaucrat}}}
            </div>
            <!-- /.panel-body -->
            <div class="list-group">
                <li class="list-group-item">
                    <span class="label label-info">管理员</span>{{{sysop}}}
                </li>
            </div>
            <!-- /.list-group -->
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-eye-open"></i> 最近关注
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {{#newFollow}}
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-user"></i>
                            <a href="{{user_url}}">{{user_name}}</a>
                            <span class="pull-right text-muted small"><em>{{follow_date}}</em></span>
                        </div>
                    {{/newFollow}}
                    {{^newFollow}}
                        <span>暂时没人关注本站~</span>
                    {{/newFollow}}
                </div>
                <!-- /.list-group -->
                <a style="display:{{display}};" href="{{showMore}}" class="btn btn-default btn-block">查看更多</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-align-justify"></i> 进阶修正
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- /.list-group -->
                <div class="list-group">
                    <a href="{{sendToAll}}" class="list-group-item">
                        <h4 class="list-group-item-heading">群发消息</h4>
                        <p class="list-group-item-text">向关注本站点的全部用户群发消息，迅速的将最新消息传播给本站的关注者。</p>
                    </a>
                {{#gtD}}
                    <a href="{{replaceText}}" class="list-group-item">
                        <h4 class="list-group-item-heading">替换文字</h4>
                        <p class="list-group-item-text">批量将某个错误词汇替换为正确的词汇，支持正则表达式（需要机器人权限）。</p>
                    </a>
                    <a href="{{noarticletext}}" class="list-group-item">
                        <h4 class="list-group-item-heading">修改404页面</h4>
                        <p class="list-group-item-text">自定义本站404页面（即“词条不存在”的提示页）的内容，请使用wikitext编写。</p>
                    </a>
                {{/gtD}}
                {{#gtC}}
                    <a href="{{quickInsert}}" class="list-group-item">
                        <h4 class="list-group-item-heading">修改快速插入项</h4>
                        <p class="list-group-item-text">修改源代码编辑器上方快速插入一栏的标签备选项。（利用&lt;charinsert&gt;标签)</p>
                    </a>
                    <a href="{{preload}}" class="list-group-item">
                        <h4 class="list-group-item-heading">修改预设模板</h4>
                        <p class="list-group-item-text">修改左侧边栏创建按钮下拉菜单中提供的预设模板。</p>
                    </a>  
                {{/gtC}}                 
                {{#gtB}}
                    <a href="{{changeMainpageTitle}}" class="list-group-item">
                        <h4 class="list-group-item-heading">修改主页标题</h4>
                        <p class="list-group-item-text">修改浏览器标题栏显示的主页标题，以利于搜索引擎优化。</p>
                    </a>  
                    <a href="{{changePageTitle}}" class="list-group-item">
                        <h4 class="list-group-item-heading">修改页面标题</h4>
                        <p class="list-group-item-text">修改浏览器标题栏显示的页面标题，以利于搜索引擎优化。（使用$1代表文章真实标题）。</p>
                    </a>  
                {{/gtB}}
                {{#gtA}}
                    <a href="{{addEmote}}" class="list-group-item">
                        <h4 class="list-group-item-heading">自定义评论表情</h4>
                        <p class="list-group-item-text">利用模板制作图片表情或颜文字，供用户在吐槽中插入。（利用&lt;charinsert&gt;标签，方法同修改插入项）</p>
                    </a>
                {{/gtA}}
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->