{{#showBots}}
<div class="concile-container alert alert-info">
	<div class="c-avatar">
		<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" title="模板小王子" rel="nofollow"><img src="http://cdn.huiji.wiki/lotr/uploads/avatars/my_wiki_9_ml.jpg" alt="avatar" border="0" class="headimg" data-name="模板小王子"></a>
	</div>
	<div class="c-container">
		<div class="c-user">
			<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" rel="nofollow">模板小王子</a><span class="c-user-level"><span class="icon-lv18"></span></span> 
		</div>
		<div class="c-comment f-message">
		<p> 欢迎来到{{siteName}}秘密议会。( • ̀ω•́ )✧这里的讨论仅对<strong>管理员、行政员和灰机职员</strong>开放，所以，放心的讨论一些私密问题吧 </p>
		<p>{{protip}}</p>
		</div>
	</div>
</div>
<div class="concile-container alert alert-success">
	<div class="c-avatar">
		<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" title="搬运老司机" rel="nofollow"><img src="http://cdn.huiji.wiki/lotr/uploads/avatars/my_wiki_131_ml.png" alt="avatar" border="0" class="headimg" data-name="搬运老司机"></a>
	</div>
	<div class="c-container">
		<div class="c-user">
			<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" rel="nofollow">搬运老司机</a><span class="c-user-level"><span class="icon-lv18"></span></span> 
		</div>
		<div class="c-comment f-message">
		<p>{{advice}}</p>
		</div>
	</div>
</div>
<div class="concile-container alert alert-warning">
	<div class="c-avatar">
		<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" title="架构工程狮" rel="nofollow"><img src="http://cdn.huiji.wiki/lotr/uploads/avatars/my_wiki_1998_ml.png" alt="avatar" border="0" class="headimg" data-name="架构工程狮"></a>
	</div>
	<div class="c-container">
		<div class="c-user">
			<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" rel="nofollow">架构工程狮</a><span class="c-user-level"><span class="icon-lv18"></span></span> 
		</div>
		<div class="c-comment f-message">
		<p>{{&linkAdvice}}</p>
		</div>
	</div>
</div>
{{#hasCategoryAdvice}}
<div class="concile-container alert alert-danger">
	<div class="c-avatar">
		<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" title="PS小能手" rel="nofollow"><img src="http://cdn.huiji.wiki/lotr/uploads/avatars/my_wiki_374_ml.png" alt="avatar" border="0" class="headimg" data-name="PS小能手"></a>
	</div>
	<div class="c-container">
		<div class="c-user">
			<a href="http://www.huiji.wiki/wiki/%E5%B8%AE%E5%8A%A9%E8%AE%A8%E8%AE%BA:%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C" rel="nofollow">PS小能手</a><span class="c-user-level"><span class="icon-lv18"></span></span> 
		</div>
		<div class="c-comment f-message">
		<p>{{{categoryAdvice}}}</p>
		</div>
	</div>
</div>
{{/hasCategoryAdvice}}
{{/showBots}}
{{&comments}}
