<div id="profile-title-container" class="clear">
    <h1 id="profile-title">
        <div id="profile-image">
            <div class="profile-image-container" id="crop-avatar">
                <div class="avatar-view upload-tool" title="" data-original-title="上传站点图标">{{{siteAvatar}}}</div>

                <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form class="avatar-form" action="/api.php" enctype="multipart/form-data" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title" id="avatar-modal-label">修改站点图标</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="avatar-body">

                                        <!-- Upload image and data -->
                                        <div class="avatar-upload">
                                            <input type="hidden" class="avatar-src" name="avatar_src">
                                            <input type="hidden" class="avatar-data" name="avatar_data">
                                            <input type="hidden" class="avatar-type" name="avatar_type" value="site">
                                            <input type="hidden" class="action" name="action" value="avatarsubmit">
                                            <input type="hidden" class="format" name="format" value="json">
                                            <input type="hidden" class="token" name="token" value="{{token}}">
                                            <label for="avatarInput">本地上传</label>
                                            <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                                        </div>

                                        <!-- Crop and preview -->
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="avatar-wrapper"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="avatar-preview preview-lg"></div>
                                                <div class="avatar-preview preview-md"></div>
                                                <div class="avatar-preview preview-sm"></div>
                                            </div>
                                        </div>

                                        <div class="row avatar-btns">
                                            <div class="col-md-9">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="-90" title="Rotate -90 degrees">向左旋转</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="-15">-15deg</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="-30">-30deg</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45">-45deg</button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="90" title="Rotate 90 degrees">向右旋转</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="15">15deg</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="30">30deg</button>
                                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="45">45deg</button>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-primary btn-block avatar-save">完成</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div><!-- /.modal -->

                <!-- Loading state -->
                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
            </div>
        </div>
    </h1>

    <div class="admin-header-edit">
        <div class="admin-header-msg">
            <div class="admin-header-name">
                <span>{{siteName}}</span>
            </div>
            <div class="admin-header-des">
                <p>{{siteDescription}}</p>
            </div>
            <button class="btn admin-header-editbtn btn-default btn-sm"><span class="icon-note"></span>修改</button><a href="#" class="des-help" data-toggle="tooltip" title="" data-original-title="站点描述是一个站点的定位，将用于搜索引擎优化，请认真填写，60到110字为宜"><i class="fa fa-question-circle"></i></a>
        </div>
        <form class="admin-header-form">
            <span>{{siteName}}</span>
            <textarea class="text-area"></textarea>
            <button class="btn btn-default btn-sm admin-header-form-submit">提交</button>
            <button class="btn btn-default btn-sm admin-header-form-cancel">取消</button>
        </form>
    </div>

</div>