/* User Feed */
.user-home-feed {
	width: 60%;
	padding-top: 15px;
	float: left;
}

.user-home-links-container {
	float: right;
	padding-top: 15px;
	width: 170px;
	padding-top: 15px;
	margin: 2px 0px 0px 0px;
}

.user-home-links-container h2 {
	color: #333;
	font-size: 16px;
	border-bottom: 1px solid #dcdcdc;
	padding: 0px 0px 3px 0px;
	margin: 0px 0px 5px 0px !important;
}

.user-home-links-container a {
	display: block;
	padding: 4px 0px 4px 0px;
	text-decoration: none;
	font-weight: bold;
}

.user-home-links-container img {
	margin: 0px 4px 0px 0px;
	vertical-align: middle;
}

.user-home-friends-activity {
	padding: 0px 0px 15px 0px;
}

.user-home-friends-activity h2 {
	letter-spacing: -1px;
	color: #333;
	font-size: 18px;
	margin: 0px 0px 8px 0px !important;
}

.user-home-activity-timestamp {
	color: #999999;
	font-size: 9px;
	margin: 0px 0px 0px 6px;
}

.user-home-activity {
	border-bottom: 1px solid #dcdcdc;
	padding: 20px 0px;
}

.user-home-activity img {
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.user-home-activity a {
	text-decoration: none;
}

.border-fix {
	border: none !important;
}

.item {
	color: #666;
	margin: 2px 25px;
}

.item a {
	color: #666;
}

.item img {
	border: 1px solid #dcdcdc;
	padding: 1px;
	background-color: #fff;
}
.user-home-activity:after{
    content: '';
    display: block;
    clear: both;
}
.user-home-item-timestamp p{
    margin-bottom: 10px;
    display: inline;
}
.user-home-item-timestamp{
    display: inline-block;
}
.user-home-item-description{
    display: inline;
}
.user-home-item-body img{
    margin-top: 10px;
    max-height: 100px;
}
@media screen and (max-width: 768px) {
    .user-home-links-container{
        width: 100%;
        float: none;
    }
    .user-home-links-container h2{
        padding-top: 0;
    }
    .user-home-links-container a{
        display: inline-block;
        margin-right: 5px;
    }
    .user-home-feed{
        width: 100%;
        float: none;
    }
    .user-home-feed .user-home-item-owner-avatar{
        padding: 0;
    }
    .user-home-item-owner-avatar img{
        width: 100%;
    }
    .user-home-feed .user-home-item-body{
        padding-right: 0;
    }
}