.back-links {
	margin: 0px 0px 10px 0px;
}

.back-links a {
	text-decoration: none;
	font-weight: bold;
}

.g-count {
	margin: 0px 0px 15px 0px;
}

.g-item {
	border: 1px solid #D7DEE8;
	padding: 7px;
	float: left;
	margin: 0px 15px 15px 0px;
}

.g-item a {
	text-decoration: none;
    display: inline-block;
    position: relative;
}

.g-item img {
	border: 1px solid #dcdcdc;
	background-color: #fff;
	padding: 3px;
	display: block;
}

.g-title {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 8px 0px;
}

.g-from {
	font-weight: bold;
	font-size: 11px;
}

.g-actions {
	font-size: 10px;
}

.g-actions a {
	font-size: 10px;
}

.g-delete {
	margin: 0px 0px 0px 12px;
}

.page-nav a {
	font-weight: bold;
}

.g-new {
	background-color: #FFFB9B;
	border: 1px solid #FDC745;
	font-weight: bold;
	padding: 0px 5px;
	font-size: 12px;
	margin: 0px 0px 0px 10px;
}

.g-name {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 2px;
}

.g-timestamp {
	font-size: 9px;
	color: #999;
}

.g-user-message {
	margin: 0.25em 0 0 0;
	color: #666;
	font-weight: bold;
}

.g-gift-count {
	font-size: 9px;
	margin: 2px 0px 10px 0px;
}

.g-description-container {
	max-width: 480px;
	width : 100%;
	margin: 20px 0px;
}

.g-recent {
	border-top: 1px solid #EFEFEF;
	padding: 10px 0px 0px 0px;
}

.g-recent img {
	vertical-align: middle;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	margin: 0px 10px 0px 0px;
}

.g-recent a {
	display: block;
	float: left;
	text-decoration: none;
}

.g-recent-title {
	font-size: 14px;
	font-weight: bold;
	color: #777;
	margin: 0px 0px 2px 0px;
}

.g-recent-item {
	margin: 0px 0px 5px 0px;
}

.g-description {
	margin: 0px 0px 15px 0px;
}

.g-description img {
	border: 1px solid #dcdcdc;
	background-color: #fff;
	padding: 3px;
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
}

.g-container {
	margin: 15px 0px 0px 0px;
}

.g-container img {
	border: 1px solid #dcdcdc;
	background-color: #fff;
	padding: 3px;
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
}

.g-buttons {
	padding: 15px 0px 0px 0px;
}

.g-message {
	margin: 0px 0px 15px 0px;
}

.g-give-container {
	background-color: #F2F4F7;
	border: 1px solid #D7DEE8;
	padding: 10px;
	width: 500px;
	margin: 0px 0px 20px 0px;
}

.g-give-title {
	font-size: 13px;
	color: #888;
	margin: 0px 0px 6px 0px;
	font-weight: bold;
}

.g-give-separator {
	margin: 10px 0px;
	font-weight: bold;
}

.g-add-message {
	margin: 15px 0px 4px 0px;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}

.g-describe {
	font-size: 11px;
	line-height: 12px !important;
	margin: 0.5em 0.5em 0.75em 0.5em;
}

.g-give-all {
  border: 1px solid #DCDCDC;
  cursor: pointer;
  float: left;
  min-height: 110px;
  margin: 0px 10px 10px 0px;
  padding: 8px;
  width: 250px;
  overflow: hidden;
  position: relative;
}

.g-give-all img {
	float: left;
	margin: 0px 10px 0px 0px;
	display: block;
	border: 1px solid #dcdcdc;
	padding: 3px;
	background-color: #fff;
}

.g-blue {
	color: #285C98 !important;
}

.g-give-all-message-title {
	color: #666;
	font-weight: bold;
	margin: 10px 0px 5px 0px;
}

.g-give-all-highlight {
	background-color: #FAF9F9;
}

.g-give-all-selected {
	border: 1px solid #09c;
}

/* Special:GiftManager */
.view-form {
	font-weight: 800;
	font-size: 12px;
	color: #666666;
}

.view-status {
	font-weight: 800;
	font-size: 12px;
	background-color: #FFFB9B;
	color: #666666;
	padding: 5px;
	margin-bottom: 5px;
}
.g-had-got,.g-level-low{
	opacity: .5
}
.gift-warning {
  position: absolute;
  top: -20px;
  /* display: none; */
  color: #fff;
  background-color: red;
  width: 84px;
  left: 50%;
  margin-left: -42px;
  transition: all .5s;
  opacity: 0;
}
.g-had-got:hover .gift-warning{
	opacity: 1;
	top: 20px;
}
.g-level-low:hover .gift-warning{
	opacity: 1;
	top: 20px;
}
.gift-count-num{
  position: absolute;
  right: 6px;
  bottom: 0px;
  color: white;
  text-shadow: 0px 0px 2px #000;
  text-align: right;
  font-size: 22px;
  font-family: fantasy;
}

/*designation*/
#firstHeading{
    text-align: center;
}
.list-wrap{
    border: 1px solid #e9e9e9;
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.admin-setting-li {
    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    border: 1px solid #e0e0e0;
    margin: 10px;
    border-radius: 3px;
}
.admin-setting-li img{
    width: 100%;
}
.setting-title,.setting-des{
    max-width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-title{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 100;
    font-size: 18px;
    color: #999;
}
.invite-code {
	margin: 0.5em 0 0 0;
	border:none;
	border-radius:0;
}