<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{activeList}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuRanking">
    <li><a href="/wiki/特殊:媒体文件列表">视频文件列表</a></li>
    <li><a href="/wiki/特殊:媒体文件列表?type=1">音频文件列表</a></li>
  </ul>
</div>