.red{
	color: red;
}
.video-name,.video-url{
	margin-bottom: 10px;
	margin-left: 10px;
	max-width: 450px;
	width: 90%;
}
.upload-video-btn{
	width: 20%;
	margin:auto;
}
.video-duration{
	background: black;
	border-radius: 1px 0 0 0;
	bottom: 0;
	color: white;
	font-size: 11px;
	line-height: 17px;
	opacity: .7;
	padding: 0px 6px;
	position: absolute;
	right: 0;
}
.video-list li{
	float: left;
	position: relative;
	width: 200px;
	list-style-type: none;
}
.upload-date{
	font-size: 1px;
	color: gray;
}