.color-picker{
    position: fixed;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    top: 110px;
}
.color-picker-item{
    border-bottom:1px solid #efefef;
    margin-bottom: 10px;
}
.color-picker-item .senior,.color-picker-item .set{
    display: none;
}
.set{
    padding-bottom: 10px;
}
.set>div{
    margin-bottom: 10px;
}
#wiki-outer-body .color-picker .color-picker-item .set>li{
    line-height: 1.8;
}
.color-picker-item h5{
    cursor: pointer;
}
.picker-color{
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}
#wiki-outer-body .picker-color>li{
    line-height: 42px;
    margin-bottom: 10px;
    clear: both;
}
.color-box{
    float: left;
    cursor: pointer;
    line-height: 1;
}
.senior-detail {
    background: #fafafa;
}
.picker-img .file-btn{
    display: none;
}
.picker-img .color-box{
    background-size: 100%;
}
.exa-border{
    border: 1px solid;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin-bottom: 10px;
}
.picker-img{
    display: none;
}
.preview{
    margin-left: 310px;
}
.maximize-wrapper:after {
    display: block;
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    right: -20px;
    top: 0;
}
.senior .picker-color{
    max-height: 500px!important;
    overflow-y: auto;
}
.input-color {
    line-height: 1;
    width: 80px;
    float: left;
    margin: 10px;
    border: 1px solid #e0e0e0;
}
@media screen and (max-width: 767px) {
    .color-picker{
        width: 100%;
    }
    .color-box {
        float: left;
        margin-right: 5px;
    }
    .color-name{
        margin-right: 0;
    }
    .color-picker{
        position: static;
        max-height: none;
        border: none;
    }

    .preview{
        margin-left: 0;
        display: none;
    }
}
@media screen and (min-height: 768px){
    .color-picker{
        max-height: 765px;
    }
}